<div class="footer-container">
  <div class="left">
    <ng-icon strokeWidth="1" color="#424242" name="heroHome" size="36" ></ng-icon>
    <ng-icon strokeWidth="1" color="#424242" name="heroRocketLaunch" size="36" ></ng-icon>
  </div>
  <div class="middle">
    <ng-icon  strokeWidth="2" color="#424242" name="heroPlus" size="26" ></ng-icon>
  </div>
  <div class="right">
    <ng-icon strokeWidth="1" color="#424242" name="heroChartBar" size="36" ></ng-icon>
    <ng-icon strokeWidth="1" color="#424242" name="heroBars3" size="36" ></ng-icon>
  </div>
</div>
