<div class="home-container">

  <div class="task-container">
    <div class="task"
         [ngClass]="{'done': task.status === 'done', 'todo': task.status !== 'done'}"
         *ngFor="let task of tasks">
      <div (click)="updateStatus(task)" class="circle">
        <span *ngIf="task.list" class="tasks-left-todo">{{task.list.length - task.tasksDone}}</span>
        <ng-icon *ngIf="task.status ==='done'" strokeWidth="3" color="#424242" name="heroCheck" size=22 ></ng-icon>
      </div>
      <div class="task-body">
        <div [ngClass]="{'done': task.status === 'done'}" class="row first-row" >
          <span class="title">{{task.name}}</span>
          <ng-icon class="icon"
                   *ngIf="task.icon"
                   [strokeWidth]="task.iconWeight"
                   [color]="task.status === 'done' ? 'white' : '#424242'"
                   [name]="task.icon" size="30" >
          </ng-icon>
        </div>
        <div *ngIf="task.status === 'in progress'" class="row row-center">
          <div  class="progress-bar">
            <div [ngStyle]="{'width': calcProgress(task)}" class="progress"></div>
          </div>
          <div class="percent-container">
            <span class="percent">{{calcProgress(task)}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
